
<style>
.ui.vertical.stripe{
    padding:5em 0 3em;
}
#alert_container{
    {{!-- background: #252222; --}}
}
.ui.circular.label{
    float: right;
}
</style>
<div class="ui vertical stripe segment" id="alert_container">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <h3 class="ui header">数据异常报警</h3>
            </div>
        </div>
        <div class="row">
            <div class="ui styled fluid accordion">
                {{#if alertIDArray}}
                    {{#each alertIDArray}}
                        <div class="title row">
                            <i class="dropdown icon"></i>
                            {{this.alertID}}
                            {{#if this.notreadLength}}
                                <label class="ui red circular label">{{this.notreadLength}}</label>                            
                            {{/if}}
                        </div>	
                                             
                        <div class="content">
                            <div class="accordion">
                                {{#if this.notreadLength}}
                                    <div class="title">
                                        <i class="dropdown icon"></i> 未读
                                        {{#if this.notreadLength}}
                                            <label class="ui red circular label">{{this.notreadLength}}</label>                            
                                        {{/if}}
                                    </div>
                                    <div class="content">
                                        <table class="ui selectable celled table">
                                            <tbody>
                                                {{#each this.alertArray}}
                                                    {{#if this.isRead}}
                                                    {{else}}
                                                        <tr>
                                                            <td>{{this.time}}</td>
                                                            <td>{{this.message}}</td>
                                                            <td>{{this.value}}</td>                       
                                                        </tr>
                                                    {{/if}}
                                                {{/each}}                                            
                                            </tbody>
                                        </table>
                                    </div>
                                {{/if}}

                                {{#if this.ReadLength}}
                                    <div class="title">
                                        <i class="dropdown icon"></i> 已读 
                                        {{#if this.ReadLength}}
                                            <label class="ui grey circular label">{{this.ReadLength}}</label>    
                                        {{/if}}
                                    </div>
                                    <div class="content">
                                        <table class="ui selectable celled table">
                                            <tbody>
                                                {{#each this.alertArray}}
                                                    {{#if this.isRead}}
                                                        <tr>
                                                            <td>{{this.time}}</td>
                                                            <td>{{this.message}}</td>
                                                            <td>{{this.value}}</td>                         
                                                        </tr>
                                                    {{/if}}
                                                {{/each}}                                            
                                            </tbody>
                                        </table>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                {{/if}}         
            </div>
        </div>
    </div>
</div>
<script>
$('.ui.dropdown').dropdown();
$('.ui.accordion').accordion();
$('.accordion .row').click(function(){
    var row = $(this).index();
    console.log("click");
    console.log(row);
    {{!-- $('.accordion').children().eq(row).children().eq(0).remove(); --}}
});
</script>
