{{!-- 导航栏 --}}
<style type="text/css">
  .hidden.menu {
      display: none;
  }
	.ui.primary.button{
		margin-top: 1em;
	}

    .masthead.segment {
      min-height: 80px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }
    @media screen and (max-width:350px){
      .username{
        max-width: 130px;
      }
    }
    @media (min-width:350px) and (max-width:500px){
      .username{
        max-width: 190px;
      }
    }
    @media (min-width:500px) and (max-width:700px){
      .username{
        max-width: 250px;
      }
    }
    @media screen and (min-width:700px){
      .username{
        max-width: 400px;
      }
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 80px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
		.username{
			color:#eeeeee;
			font-size: 1.4em;
			margin-right: 0.3em;
			font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
		}
		.username:hover{
			color:#eeeeee;
		}
</style>
<script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;
      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
</script>

<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui container">
		<div class="ui large secondary inverted pointing menu">
			<a class="toc item">
				<i class="sidebar icon"></i>
			</a>
			<a class="active item" href="/">首页</a>
      {{#if user}}
      	{{#if normalMenu}}
          <div class="ui simple dropdown item">
            监控 <i class="dropdown icon"></i>
            <div class="menu" >
              {{#each normalMenu}}
                <a class="item" href="/metric/monitor/{{this.category_id}}">{{this.category_name}}</a>
              {{/each}}
            </div>
          </div>
        {{else}}
            <a class="item" href="/metric">监控</a>
        {{/if}}
        <a class="item">报警</a>
      {{/if}}



			<div class="right item">
				{{#if user}}
					<a class="ui inverted username">{{user}}</a>			
					<a class="ui inverted button" href="/logout">注销</a>
				{{else}}
					<a class="ui inverted button" href="/login">登录</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
